.container {
  background-color: white;
  padding: 15px 100px 15px 100px;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
}

.logo {
  height: 110px;
}

.navlinks {
  display: flex;
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
  font-weight: 200;
  font-size: 0.9em;
  margin-right: 3em;
}

.cart {
  height: 20px;
  margin-left: auto;
  cursor: pointer;
  /* border: 1pt solid red; */
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: rgb(73, 73, 73);
}

.circle {
  background-color: red;
  font-size: 0.8em;
  height: 1.2em;
  width: 1.2em;
  color: white;
  border-radius: 100%;
  text-align: center;
  position: relative;
  top: -30px;
  left: 15px;
}
