body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
}

.container {
  /* border: 1pt solid red; */
  margin: 50px 25% 0 25%;
}

.card {
  /* background-color: aqua; */
  display: flex;
  margin-bottom: 75px;
}

.img {
  height: 170px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  /* border: 1pt solid blue; */
  min-width: 375px;
  width: 375px;
}

.title {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  font-weight: 800;
}

.text {
  color: black;
  font-size: 0.8em;
  font-weight: 400;
  margin: 0;
}

.bottom {
  display: flex;
  align-items: center;
  /* border: 1pt solid blueviolet; */
  height: 2em;
  margin-top: auto;
}

.add {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  background-color: white;
  border: 1pt solid black;
  padding: 0.3em 1.3em;
  outline: none;
  cursor: pointer;
}

.add:hover {
  background-color: black;
  color: white;
}

.add:active {
  background-color: rgb(61, 155, 209);
  border: 1pt solid rgb(61, 155, 209);
  color: white;
}

.price {
  margin: 0 0 0 1.5em;
  font-size: 1.3em;
}
